<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title></title>

	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<meta name="contact" content=""/>
	<meta name="viewport" content="width=1024, user-scalable=no"/>
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="css/deck.core.css"/>
	<link rel="stylesheet" href="css/extensions/deck.hash.css"/>
	<link rel="stylesheet" href="css/extensions/deck.menu.css"/>
	
	<!-- Theme CSS files -->
	<link rel="stylesheet" id="style-theme-link" href="css/style/swiss.css"/>

	<!-- Custom CSS files -->
	<link rel="stylesheet" href="js/sh/shCoreDefault.css"/>
	<link rel="stylesheet" href="css/deck.custom.css"/>

	<!-- JS files that must be included in the document head -->
	<script src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
    <link href="syntaxhighlighter_3.0.83/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="syntaxhighlighter_3.0.83/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .syntaxhighlighter .toolbar {
            display: none !important;
        }
        .glyphicon-play {
            font-family: 'Glyphicons Halflings' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 1 !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            float:right !important;
            margin-right: 10% !important;
        }
        .glyphicon-pause {
            font-family: 'Glyphicons Halflings' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 1 !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            float:right !important;
            margin-right: 10% !important;
        }
    </style>
</head>
<body class="deck-container" style="padding:0px;">
    <div class="slide ui-corner-all" id="title-slide"  style="width:100%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: top center;background-size: auto 100%; top:0px; left:0px; border: solid 1px white;">
        <div class="page-header" style="text-align:center;">
            <h1 class="ui-corner-all" style="text-align:left;">Twig<br/><small>Easier Than You Think</small></h1>
            <div style="max-height:35%;height:400px"></div>
            <h3 class="alert ui-corner-all" style="color:darkblue; font-size: 48px !important; width: auto; margin-top:0px;padding-top:5px;padding-bottom:5px;text-align:right;margin-right:20px;">by: Margaret Staples</h3>
        </div>
    </div>

    <div class="slide ui-corner-all text-center" id="slide1" style="background: white;width:100%;height:100%">
        <h2>Hello, Nice to Meet You</h2>
        <h3>I'm Margaret Staples</h3>
        <img src="images/drawing-elephant.png"><br/>
        <img id="image1" src="images/daisies/dark-blue-daisy.png" style="width:200px;">
        <img id="image2" src="images/daisies/fucia-daisy.jpg" style="width:200px;">
        <img id="image3" src="images/daisies/light-blue-daisy.jpg" style="width:200px;">
        <img id="image4" src="images/daisies/purple-daisy.jpg" style="width:200px;">
        <img id="image5" src="images/daisies/red-daisy.jpg" style="width:200px;">
        <img id="image6" src="images/daisies/white-daisy.jpg" style="width:200px;">
    </div>

    <div class="slide ui-corner-all text-center" id="slide1a" style="background: white;width:100%;height:100%">
        <h2>Hello, Nice to Meet You</h2>
        <h3>I'm Margaret Staples</h3>
        <h4>I've been working with Twig<br/>
            <small>As part of the Symfony2 Framework</small><br/>
            for about 3 years.</h4>
        <img src="images/twig-logo.png" style="max-height:45%;margin-top:10px;">
    </div>

    <div class="slide ui-corner-all text-center" id="slide1b" style="background: white;width:100%;height:100%">
        <h2>Hello, Nice to Meet You</h2>
        <h3>I'm Margaret Staples</h3>
        <h4>I'm developing a Social Strategy City-Builder RPG game of awesomeness.</h4>
        <img src="images/brune.gif" style="max-height:50%;margin-top:10px;">
        <h4>greenlight.brunegame.com</h4>
    </div>

    <div class="slide ui-corner-all" id="slide2"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/round-cartoon-elephant.png');background-repeat: no-repeat; background-position: center right;background-size: 30% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
        <h2>Topics</h2><hr>
            <h3>#1 Installation & Setup</h3>
            <h3>#2 Layouts and Blocks</h3>
            <h3>#4 Variables</h3>
            <h3>#5 Filters</h3>
            <h3>#6 Template Logic</h3>
            <h3>#7 Including Templates</h3>
            <h3>#8 Questions</h3>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide3e"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Installation & Setup <span class="glyphicon glyphicon-play"></span></h3><hr>
            <h3>Option #1: Install Symfony Standard Edition</h3>
            <h5>(If you prefer a custom Symfony2 install, remember to include Twig in your composer.json)</h5>

            <div style="width:70%;margin-left:auto;margin-right:auto;text-align:right">
                command
            </div>
            <div class="alert" style="width:70%;margin-left:auto;margin-right:auto;padding:20px;background-color:black;border:solid 1px limegreen;color:#d3d3d3;font-size:20px;">
                $ php composer.phar create-project symfony/framework-standard-edition /path/to/webroot/MyProject '2.5.*'
            </div>

            <div style="width:100%;text-align: center;" class="text-center">
                <img src="images/composer.png" style="max-width:500px;margin-left:auto;margin-right:auto;"><br/>
                https://getcomposer.org/
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide3e.1"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Installation & Setup <span class="glyphicon glyphicon-play"></span></h3><hr>
            <h3>Option #1: Install Symfony Standard Edition</h3>
            <h5>Render a template.</h5>

            <pre class="brush: php">
                namespace MyTeam\Game\Controller;

                use Symfony\Bundle\FrameworkBundle\Controller\Controller;

                class DefaultController extends Controller
                {
                    public function characterSheetAction()
                    {
                        return $this->render('MyTeamGameBundle:Default:character_sheet.html.twig');
                    }
                }
            </pre>

            <div style="position:relative; width:100%;text-align: center;top:-50px;" class="text-center">
                <img src="images/symfony.png" style="max-height:250px;margin-left:auto;margin-right:auto;"><br/>
                http://symfony.com/
            </div>

        </div>
    </div>

    <div class="slide ui-corner-all" id="slide3f"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Installation & Setup <span class="glyphicon glyphicon-play"></span></h3><hr style="width:60%">
            <h3>Option #2: Install Twig Alone</h3>

            <div style="width:50%;margin-left:auto;margin-right:auto;text-align:right">
                command
            </div>
            <div class="alert" style="width:50%;margin-left:auto;margin-right:auto;padding:20px;background-color:black;border:solid 1px limegreen;color:#d3d3d3;font-size:20px;">
                $ composer require "twig/twig:~1.0"
            </div>

            <div style="width:100%;text-align: center; top: -50px;" class="text-center">
                <img src="images/composer.png" style="max-width:500px;margin-left:auto;margin-right:auto;"><br/>
                https://composer.org/
            </div>

        </div>
    </div>

    <div class="slide ui-corner-all" id="slide3f.1"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: top right;background-size: 45% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Installation & Setup <span class="glyphicon glyphicon-play"></span></h3><hr style="width:60%">
            <h3>Option #2: Install Twig Alone</h3>
            <h5>Send variables to your Twig templates using php.</h5>
            <li style="list-style:none"><i class="fa fa-heart"></i> Composer will have created your vendor directory and composer files.</li>
            <li style="list-style:none"><i class="fa fa-heart"></i> Create a directory -- <span style="color:blue">views</span> -- to store templates.</li>
            <li style="list-style:none"><i class="fa fa-heart"></i> Create a file -- <span style="color:blue">index.php</span> -- to send data to your templates.</li>

            <div style="width:50%;margin-left:auto;margin-right:auto;text-align:right">
                New Twig Project
            </div>
            <div class="alert" style="width:50%;margin-left:auto;margin-right:auto;padding:20px;background-color:black;border:solid 1px limegreen;color:#d3d3d3;font-size:20px;">
                vendor/<br/>
                <span style="text-decoration:underline;">views/<br/>
                index.php</span><br/>
                composer.json<br/>
                composer.lock
            </div>

        </div>
    </div>

    <div class="slide ui-corner-all" id="slide3f.2"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: top right;background-size: 45% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Installation & Setup <span class="glyphicon glyphicon-pause"></span></h3><hr style="width:60%">
            <h3>Option #2: Install Twig Alone</h3>
            <h5>Render a template.</h5>

            <div style="width:50%;text-align:right">
                <pre class="brush: php">
                    require_once '/path/to/vendor/autoload.php';

                    $loader = new Twig_Loader_Filesystem('views');
                    $twig = new Twig_Environment($loader);

                    echo $twig->render('character_sheet.html');
                </pre>
                index.php
            </div>

        </div>
    </div>

    <div class="slide ui-corner-all" id="slide6b"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Layouts and Blocks <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <h3>Create a Layout</h3>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Create a basic html page.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Include elements you will want all pages to have.</li>
            <div style="width:65%;text-align:right">
            <pre class="brush: xml">
                &lt;html&gt;

                    &lt;head&gt;
                        <link rel="stylesheet" href="style.css" />
                        <title>Game Title</title>
                    &lt;/head&gt;

                    &lt;body&gt;
                        <div id="content"></div>


                        <div id="footer">&copy; Copyright 2015 by MyGamesCom.</div>
                    &lt;/body&gt;

                &lt;/html&gt;
            </pre>
                layout.html(.twig)
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide6b.1"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Layouts and Blocks <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <h3>Add Blocks to the Layout</h3>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Blocks designate areas that may be replaced by child templates.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Block content in the layout will be the default.</li>
            <div style="width:68%; text-align:right">
            <pre class="brush: xml">
                &lt;html&gt;
                    {% block head %}
                        &lt;head&gt;
                            <link rel="stylesheet" href="style.css" />
                            <title>
                                {% block title %}Game Title{% endblock %}
                            </title>
                        &lt;/head&gt;
                    {% endblock %}

                    &lt;body&gt;
                        <div id="content">{% block content %}{% endblock %}</div>


                        <div id="footer">
                            {% block footer %}
                                &copy; Copyright 2015 by MyGamesCom.
                            {% endblock %}
                        </div>
                    &lt;/body&gt;
                &lt;/html&gt;
            </pre>
                layout.html(.twig)
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide6b.2"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Layouts and Blocks <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <h3>Create a Child Template</h3>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Create a character_sheet template.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Extend the layout.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Replace some Blocks with new content.</li>
            <div style="width:65%; text-align:right">
                <pre class="brush: xml">
                    {% extends "layout.html(.twig)" %}

                    {% block title %}Character Sheet{% endblock %}
                    {% block head %}
                        {{ parent() }}
                        <style type="text/css">
                            .important { color: #336699; }
                        </style>
                    {% endblock %}
                    {% block content %}
                        <h2>Character Name</h2>
                        <h4>
                            Character Information
                        </h4>
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide7"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Variables <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <h3>Passing Variables into a Template</h3>
            <div style="width:80%; text-align:center">
                From a Symfony2 Controller
                <pre class="brush: php">
                    public function characterSheetAction()
                    {
                        return $this->render('MyTeamGameBundle:Default:character_sheet.html.twig',
                            array(
                                'name' => 'Sir Knight',
                                'adventure_class' => 'adventurer',
                                'level' => 1000,
                                'attributes' => [ 'Health' => 2000, 'Magic' => 1300 ]
                            )
                        );
                    }
                </pre>
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide7.1"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Variables <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <h3>Passing Variables into a Template</h3>
            <div style="width:75%; text-align:center">
                From index.php
                <pre class="brush: php">
                    echo $twig->render('index.html', array(
                            'name' => 'Sir Knight',
                            'adventure_class' => 'adventurer',
                            'level' => 1000,
                            'attributes' => [ 'Health' => 2000, 'Magic' => 1300 ]
                        );
                </pre>
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide7.2"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/knight.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Variables <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <div style="width:65%; text-align:right">
                <pre class="brush: xml">
                    {% block content %}
                        <h2>{{ name }}</h2>
                        <h4>
                            Level {{ level }} {{ adventure_class }}
                        </h4>
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>
            <div style="width:65%; text-align:right;">
                <div class="alert alert-info" style="border: solid 2px darkgray; padding: 10px;">
                     <h2>Sir Knight</h2>
                    <h4>
                        Level 1000 adventurer
                    </h4>
                </div>
                render
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.1"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/archer.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Variables: Strings Filters <span class="glyphicon glyphicon-play"></span></h3>
            <hr>
            <div style="width:70%; text-align:right">
                <pre class="brush: xml">
                    {% block content %}
                        <h2>
                            {{ name|replace({ 'Sir': 'Lady', 'Knight': 'Ranger' }) }}
                        </h2>
                        <h4>
                            Level {{ level|number_format }} {{ adventure_class|title }}
                        </h4>
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>
            <div style="width:65%; text-align:right;">
                <div class="alert alert-info" style="border: solid 2px darkgray; padding: 10px; margin: 5px;">
                    <h2>Lady Ranger</h2>
                    <h4>
                        Level 1,000 Adventurer
                    </h4>
                </div>
                render
            </div>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> The title filter shown applied to adventure_class.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Applying upper or lower filters would print: ADVENTURER or adventurer.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> The replace filter shown applied to name.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> The number_format filter shown applied to level.</li>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.3"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/twig-logo.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Variables: Other Filters <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <div class="alert alert-warning" style="border: solid 2px; padding:10px;margin:10px;width:50%;">
                <h3>More Filter Examples</h3>
                <hr>
                <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Absolute: {{ -23|abs }} prints 23.</li>
                <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Round: {{ 3.141592|round }} prints 3.</li>
                <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Round: {{ 3.141592|round(2,'ceil') }} prints 3.15.</li>
                <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> First: {{ 12345|first }} prints 1.</li>
                <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> Last: {{ { 'a', 'b', 'c' }|last }} prints c.</li>
            </div>

            <div style="clear:both"></div>
            <div class="alert alert-info text-center" style="border: solid 2px darkgray;padding:5px;width:50%;margin-left:auto;margin-right:auto;">
                <h4>http://twig.sensiolabs.org/doc/filters/index.html</h4>
            </div>

            <table style="width:75%;text-align:left;font-size:28px;margin-top:20px;">
                <tr>
                    <td style="width:24%;">
                        abs<br/>
                        batch<br/>
                        capitalize<br/>
                        date_modify<br/>
                        default<br/>
                        escape<br/>
                        first<br/>
                        format
                    </td>
                    <td style="width:24%;">
                        join<br/>
                        json_encode<br/>
                        keys<br/>
                        last<br/>
                        length<br/>
                        lower<br/>
                        merge<br/>
                        raw
                    </td>
                    <td style="width:24%;">
                        slice<br/>
                        sort<br/>
                        split<br/>
                        striptags<br/>
                        title<br/>
                        trim<br/>
                        upper<br/>
                        url_encode
                    </td>
                    <td>
                        replace<br/>
                        reverse<br/>
                        round<br/>
                        nl2br<br/>
                        number_format<br/>
                        convert_encoding<br/>
                        date

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.4"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/archer.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Logic <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <div style="width:70%; text-align:right">
                <pre class="brush: xml; highlight: [2, 10, 14]">
                    {% block content %}
                        {% if 'Health' in attributes|keys and attributes.Health > 0 %}
                            <div class="alert alert-success">
                                {% set has_attributes = attributes|length %}
                                {% for attribute,value in attributes %}
                                    <h4>{{ attribute }}: {{ value|number_format }}</h4>
                                {% endfor %}
                                <p>{{ name }} has {{ has_attributes }} attributes.</p>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <h4>{{ name }} is Dead!</h4>
                            </div>
                        {% endif %}
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>
            <div style="width:65%; text-align:right;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: center;">
                            <div class="alert alert-info text-center pull-right" style="border: solid 2px darkgray; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Health: 2,000
                                </h4>
                                <h4>
                                    Magic: 1,300
                                </h4>
                                <p>Lady Ranger has 2 attributes.</p>
                            </div>
                        </td>
                        <td style="text-align: center; width:260px">
                            <h4>OR</h4>
                            <h5>If Health < 0 or unset</h5>
                        </td>
                        <td style="text-align: center;">
                            <div class="alert alert-danger text-center pull-left" style="border: solid 2px darkred; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Lady Ranger is Dead!
                                </h4>
                            </div>
                        </td>
                    </tr>
                </table>
                render
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.4a"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/archer.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Logic <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <div style="width:70%; text-align:right">
                <pre class="brush: xml; highlight: [4, 8]">
                    {% block content %}
                        {% if 'Health' in attributes|keys and attributes.Health > 0 %}
                            <div class="alert alert-success">
                                {% set has_attributes = attributes|length %}
                                {% for attribute,value in attributes %}
                                    <h4>{{ attribute }}: {{ value|number_format }}</h4>
                                {% endfor %}
                                <p>{{ name }} has {{ has_attributes }} attributes.</p>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <h4>{{ name }} is Dead!</h4>
                            </div>
                        {% endif %}
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>
            <div style="width:65%; text-align:right;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: center;">
                            <div class="alert alert-info text-center pull-right" style="border: solid 2px darkgray; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Health: 2,000
                                </h4>
                                <h4>
                                    Magic: 1,300
                                </h4>
                                <p>Lady Ranger has 2 attributes.</p>
                            </div>
                        </td>
                        <td style="text-align: center; width:260px">
                            <h4>OR</h4>
                            <h5>If Health < 0 or unset</h5>
                        </td>
                        <td style="text-align: center;">
                            <div class="alert alert-danger text-center pull-left" style="border: solid 2px darkred; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Lady Ranger is Dead!
                                </h4>
                            </div>
                        </td>
                    </tr>
                </table>
                render
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.5"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;background-image: url('images/archer.png');background-repeat: no-repeat; background-position: bottom right;background-size: 35% auto; top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Logic <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <div style="width:70%; text-align:right">
                <pre class="brush: xml; highlight: [5, 7]">
                    {% block content %}
                        {% if 'Health' in attributes|keys and attributes.Health > 0 %}
                            <div class="alert alert-success">
                                {% set has_attributes = attributes|length %}
                                {% for attribute,value in attributes %}
                                    <h4>{{ attribute }}: {{ value|number_format }}</h4>
                                {% endfor %}
                                <p>{{ name }} has {{ has_attributes }} attributes.</p>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <h4>{{ name }} is Dead!</h4>
                            </div>
                        {% endif %}
                    {% endblock %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>
            <div style="width:65%; text-align:right;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: center;">
                            <div class="alert alert-info text-center pull-right" style="border: solid 2px darkgray; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Health: 2,000
                                </h4>
                                <h4>
                                    Magic: 1,300
                                </h4>
                                <p>Lady Ranger has 2 attributes.</p>
                            </div>
                        </td>
                        <td style="text-align: center; width:260px">
                            <h4>OR</h4>
                            <h5>If Health < 0 or unset</h5>
                        </td>
                        <td style="text-align: center;">
                            <div class="alert alert-danger text-center pull-left" style="border: solid 2px darkred; padding: 10px; margin: 5px; width: 350px; height: 120px;">
                                <h4>
                                    Lady Ranger is Dead!
                                </h4>
                            </div>
                        </td>
                    </tr>
                </table>
                render
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all" id="slide8.6"  style="width:100%;height:100%;">
        <div style="min-width:80%;height:100%;top:0px; left:0px; border: solid 1px white; padding-left:5%;padding-right:5%;margin-left:auto;margin-right:auto;">
            <h3>Include <span class="glyphicon glyphicon-pause"></span></h3>
            <hr>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> A template may include other templates to assemble a page in pieces.</li>
            <li style="list-style:none;margin-left:50px;"><i class="fa fa-heart"></i> In Symfony2 projects, include the full bundle name in your include.</li>
            <div style="width:70%; text-align:right; margin-left:auto;margin-right:auto;">
                <pre class="brush: xml; highlight: [3, 7]">
                    {% if 'Health' in attributes|keys and attributes.Health > 0 %}

                        {% include 'attributes.html' with  { 'attributes': attributes } %}

                    {% else %}

                        {% include 'dead_character.html' %}

                    {% endif %}
                </pre>
                character_sheet.html(.twig)
                <hr>
            </div>

            <div style="position:relative; width:100%;text-align: center;" class="text-center">
                <img src="images/elephpants.gif" style="max-height:250px;margin-left:auto;margin-right:auto;"><br/>
            </div>
        </div>
    </div>

    <div class="slide ui-corner-all text-center" id="slide9a" style="background: white;width:100%;height:100%">
        <img src="images/flowery-elephant.png" style="max-height:50%;margin-top:10px;">
        <h1 style=margin-top:40px;>Questions?</h1><br/>

    </div>

    <div class="slide ui-corner-all" id="slide9c" style="background: white;width:100%;height:100%">
        <table style="width:100%">
            <tr>
                <td>
                    <h3 style="padding-top:14px;margin-left:5px;">Symfony: The Very Basics</h3>
                </td>
                <td class="text-right">
                    <h3 style="padding-top:14px;margin-right:5px;">Margaret Staples</h3>
                </td>
            </tr>
        </table>

        <div style="width:100%" class="text-center" style="background: white;width:100%;height:100%">
            <h4>slides.olympicnorthwest.com</h4>
            <table style="width:80%;margin-left:215px;">
                <tr>
                    <td style="width:50%">
                        <img src="images/brune.gif" style="max-height:50%;margin-top:10px;">
                        <h4>greenlight.brunegame.com</h4>

                        <div style="width:480px;margin-left:auto;margin-right:auto;padding:3px;border: solid 2px darkgray;" class="text-center alert alert-success">
                            <h3 style="color: darkblue; padding-top:10px; margin-bottom: 0px; font-size:36px !important">Thank You for Listening :)</h3>
                            <h3 style="color: darkblue; margin-bottom:0px;">joind.in/14453</h3>
                        </div>
                    </td>
                    <td style="width:50%">
                        <table>
                            <tr>
                                <td style="text-align:left">
                                    <h3>Margaret Staples</h3>
                                    <li style="list-style:none"><i class="fa fa-heart"></i> twitter: @dead_lugosi</li>
                                    <li style="list-style:none;"><i class="fa fa-heart"></i> twitter: @AesopMargaret</li>
                                    <li style="list-style:none;"><i class="fa fa-heart"></i> freenode: deadlugosi</li>
                                    <li style="list-style:none"><i class="fa fa-heart"></i> website: aesopgames.com</li>
                                    <li style="list-style:none;"><i class="fa fa-heart"></i> email: mstaples@aesopgames.com</li>
                                </td>
                            </tr>
                        </table>
                        <div style="width:100%;margin-top:10px;">
                            <img src="images/aesop-logo.png" style="width:280px;padding-bottom:0px;margin-bottom:0px">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Core JS and extension files -->
<script src="js/jquery.min.js"></script>
<script src="js/deck.core.js"></script>
<script src="js/extensions/deck.hash.js"></script>
<script src="js/extensions/deck.menu.js"></script>
<script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

<!-- Custom JS files -->
<script src="js/deck.custom.js"></script>

<!-- Activate deck.js and SyntaxHighlighter -->
<script data-cfasync="false" type="text/javascript">
    $(function() { $.deck('.slide'); });
    SyntaxHighlighter.all();
</script>

</body>
</html>
